<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agrega-producto']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--Listdo de productos-->
  <ion-card *ngFor="let producto of listaProductos">
    <ion-img [src]="producto.foto" loading="lazy"></ion-img>
    <ion-card-header>
      <ion-card-title>
        nombre : {{producto.nombre}}
        <br>
        precio : ${{producto.precio_venta}}
      </ion-card-title>
      <ion-card-subtitle>proveedor :{{producto.proveedor}}</ion-card-subtitle>
      <ion-card-content>
        <ion-label>fecha elaboracion :{{producto.fecha_elaboracion}}</ion-label>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <!--Infinite scroll-->
  <ion-infinite-scroll (ionInfinite)="cargarMasProds()">
    <ion-infinite-scroll-content loadingText="Cargando mas productos . . .">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
